body {
    /* background-color: darkgray; */
    background-image: url('cinema7.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;

}

h1 {
    text-align: center;
}
